@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

* {
    box-sizing: border-box;
}

body {
    --title-text: hsl(213, 96%, 18%);
    --accent: hsl(243, 100%, 62%);
    --accent-sec: hsl(206, 94%, 87%);
    --accent-tri: hsl(228, 100%, 84%);
    --warning: hsl(354, 84%, 57%);
    --cool-gray: hsl(231, 11%, 63%);
    --light-gray: hsl(229, 24%, 87%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --white: hsl(0, 0%, 100%);

    font-family: Ubuntu, sans-serif;
    overflow-y: scroll;
    z-index: 2;
    background-color: var(--magnolia);
    min-height: 100vh;
}

/* ========================== > Attribution  */

.attribution {
    color: hsl(0, 0%, 28%);
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 80px;
    left: 0;
    width: 100vw;
    display: none;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* ===================================== */

/* BASE  */

.numbering {
    pointer-events: none;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    font-size: 16px;
    color: var(--cool-gray);
    line-height: 1.5em;
    margin: 10px 0 18px;
}

h2 {
    margin: 0;
}

label, h2, .plans_label {
    color: var(--title-text);
    font-weight: 700;
}

label {
    font-size: 12px;
    font-weight: 500;
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

#buttons_container {
    background-color: var(--white);
    padding: 1.2em 20px;
    justify-content: space-between;
}

.buttons {
    background: none;
    border: none;
    outline: none;
    width: max-content;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    padding: 12px 15px;
}

#button_back {
    color: var(--cool-gray);
}

#button_next {
    background: var(--title-text);
    color: var(--light-gray);
    margin-left: auto;
}

.float_ver_center {
    top: 50%;
    transform: translateY(-50%);
}

.block,
.plans_container label {
    display: block;
}

.numbering,
#toggle_button,
.buttons,
#summary_plan_title,
#summary_plan_duration {
    display: inline-block;
}

.flex,
#buttons_container,
.summary_plan_item_container,
.summary_addons_item_container,
#summary_total {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.center-items {
    justify-content: center;
}

/* ============================ Mobile positions */


/* .steps,main  */
/* {
    position: fixed;
} */

.steps li,
.addons label,
.summary_addons_item_container,
#summary_total {
    position: relative;
}

.steps_num {
    position: absolute;
}

/* ===========================PAGES */

/* Pages */

main {
    margin: -4.5em 20px 2em;
    min-height: calc(80vh - 78.5px);
}

.pages {
    padding: 30px 25px;
    background-color: var(--white);
    border-radius: 10px;
    display: none;
    margin: 0;
}

/* Main Page Indicators */

.steps {
    background-image: url('assets/images/bg-sidebar-mobile.svg');
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-color: var(--magnolia);
    background-attachment: fixed;
    background-size: contain;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;
    padding: 2em 0 6em;
}

.numbering {
    width:34px;
    height:34px;
    border: 1px solid var(--white);
    border-radius: 50%;
    text-align: center;
    margin: 5px;
}

.steps_num {
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--white);
}

.steps_desc {
    display: none;
}

#page_1_radio:checked ~ .steps #page_1 {
    color: var(--title-text);
    font-weight: 700;
}

#page_1_radio:checked ~ .steps .numbering:nth-child(1) {
    background: var(--white);
}

#page_1_radio:checked ~ main .pages:nth-child(1) {
    display: block;
}

#page_1_radio:checked ~ #buttons_container #button_back {
    display: none;
}

#page_2_radio:checked ~.steps #page_2 {
    color: var(--title-text);
    font-weight: 700;
}

#page_2_radio:checked~.steps .numbering:nth-child(2) {
    background: var(--white);
}

#page_2_radio:checked~main .pages:nth-child(2) {
    display: block;
}

#page_3_radio:checked ~.steps #page_3 {
    color: var(--title-text);
    font-weight: 700;
}

#page_3_radio:checked~main .pages:nth-child(3) {
    display: block;
}

#page_3_radio:checked~.steps .numbering:nth-child(3) {
    background: var(--white);
}

#page_4_radio:checked  ~.steps #page_4 {
    color: var(--title-text);
    font-weight: 700;
}

#page_4_radio:checked~.steps .numbering:nth-child(4) {
    background: var(--white);
}

#page_4_radio:checked~main .pages:nth-child(4) {
    display: block;
}

#page_4_radio:checked  ~ #buttons_container #text_next {
    display: none;
}

/* PAGE 1 */

input[type="text"] {
    margin-top: 2px;
    margin-bottom: 1em;
    min-height: 2.5em;
    width: 100%;
    border: 1px solid var(--light-gray);
    border-radius: 3px;
    padding: 12px 16px;
    color: var(--title-text);
    font-weight: 500;
    font-size: 16px;
}

input[type="text"]:active,
input[type="text"]:focus {
    outline: 1px solid var(--accent);
}

input[type="text"]::placeholder {
    color: var(--cool-gray);
}

/* PAGE 2 */
.plans,
.addons {
    padding: 15px 20px;
    border: 1.5px solid var(--light-gray);  
    border-radius: 8px;  
    display: flex;
    align-items: flex-start;
}

.plans_container {
    margin: 20px auto;
}

.plans_container label:not(:last-child) {
    margin-bottom: 13px;
}

.plans svg {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

.plans_label,
.addons_options,
#summary_plan_title,
#summary_plan_duration,
#summary_plan_pricing {
    font-size: 14px;
    font-weight: 700;
}

.plans_monthly,
.plans_yearly,
#summary_button_change,
.summary_addons_item,
#summary_total {
    font-size: 14px;
    color: var(--cool-gray);
    font-weight: 400;
    margin-top: 5px;
}

.plans_yearly {
    display: none;
}

.plans_yearly_promo {
    font-size: 13px;
    color: var(--title-text);
    font-weight: 500;
}

.toggle_options {
    font-weight: 500;
    font-size: 15px;
    color: var(--cool-gray);
}

.steps_num,
.plans,
.toggle_options,
#toggle_base,
#summary_button_change,
.addons label,
.buttons {
    cursor: pointer;
}

#plans_toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    background: var(--alabaster);
}

#toggle_base {
    background-color: var(--title-text);
    width: 30px;
    margin: 0 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 3.5px;
}

#toggle_button {
    background-color: var(--white);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    transition: .2s ease;
}

/* PAGE 3 */

.addons {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
}

.addons_pseudo_checkbox {
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease;
    padding: 4px;
    width: 22px;
    height: 22px;
    margin-right: 18px;
}

.addons label {
    margin: 0;
    display: flex;
    align-items: center;
}

.addons_desc {
    color: var(--cool-gray);
    margin-top: 2px;
    font-weight: 400;
}

.addons_pricing {
    font-size: 13px;
    color: var(--accent);
    font-weight: 500;
    margin-left: 18px;
}

.addons_pseudo_checkbox svg {
    width: 12px;
    height: 12px;
}

/* PAGE 4 */

.summary_main {
    background-color: var(--magnolia);
    border-radius: 10px;
}

.summary_container {
    padding: 25px 20px;
}

#summary_plan {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--light-gray);
}

#summary_plan {
    padding-bottom: 15px;
}

.summary_addons_item_container:first-child {
    margin-top: 20px;
}

.summary_addons_item_container:not(:last-child) .summary_addons_item {
    margin-bottom: 15px;
}

#summary_plan_title,
.summary_addons_item {
    text-transform: capitalize;
}

#summary_button_change {
    text-decoration: underline;
}

#summary_plan_pricing,
.summary_addons_item_pricing {
    font-size: 13px;
}

.summary_addons_item_pricing {
    font-weight: 500;
}

#summary_total_pricing {
    font-weight: 700;
    color: var(--accent);
}

/* PAGE THANK YOU */

#page_thankyou {
    text-align: center;
    padding: 80px 20px;
}

#page_thankyou svg {
    width: 50px;
    height: 50px;
    margin-bottom: 1em;
}

/* OPTIONS CLICKED TOGGLING */

input[name="plan"]:checked + label .plans,
.addons_container [type="checkbox"]:checked+.addons {
    border-color: var(--accent);
    background-color: var(--alabaster);
}

#toggle_monthly,
#summary_plan_title,
#summary_plan_duration,
#summary_plan_pricing,
.summary_addons_item_pricing {
    color: var(--title-text);
}

#toggle_yearly_radio:checked ~ div .plans .plans_yearly {
    display: block;
}

#toggle_yearly_radio:checked ~ div .plans .plans_monthly {
    display: none;
}

#toggle_yearly_radio:checked ~ div #toggle_yearly {
    color: var(--title-text);
}

#toggle_yearly_radio:checked ~ div #toggle_monthly {
    color: var(--cool-gray);
}

#toggle_yearly_radio:checked ~ div #toggle_button {
    margin-left: 55%;
}

.addons_container [type="checkbox"]:checked + .addons .addons_pseudo_checkbox {
    background-color: hsl(243, 100%, 62%);
    border: none;
}